@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,700italic,900");
body {
  height: max-content;
  background-color: #25251d;
  font-family: 'Titillium Web'; }
  @media only screen and (min-width: 1024px) {
    body {
      padding-left: 13%;
      padding-right: 13%; } }
  @media only screen and (min-width: 1280px) {
    body {
      padding-left: 18%;
      padding-right: 18%; } }

.bolder {
  font-weight: 600; }

.filtered {
  filter: hue-rotate(-90deg);
  -webkit-filter: hue-rotate(-90deg); }

a {
  text-decoration: none;
  color: #b4fab9; }

.document {
  color: #e6ffe6;
  background-color: #25251d;
  display: flex; }
  @media only screen and (max-width: 767px) {
    .document {
      flex-direction: column-reverse; } }

#portrait {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.sidebar {
  font-size: 12px;
  height: all;
  background-color: #25251d;
  position: relative; }
  @media only screen and (min-width: 768px) {
    .sidebar {
      width: 350px; } }
  @media only screen and (max-width: 767px) {
    .sidebar {
      display: flex; } }
  @media only screen and (max-width: 767px) {
    .sidebar-first-half {
      display: flex;
      flex-direction: column; } }
  @media only screen and (max-width: 767px) {
    .sidebar-second-half {
      display: flex;
      flex-direction: column; } }
  .sidebar-about {
    text-align: justify; }
  .sidebar-title {
    text-align: center;
    background-color: #b4fab9;
    color: #25251d;
    font-size: 15px; }
  .sidebar-contacts-element {
    margin-left: 2rem;
    margin-top: 1em;
    margin-bottom: 1em; }
  .sidebar-content {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: justify; }
@-moz-document url-prefix() {
  @media only screen and (min-width: 768px) {
    .sidebar-loisirs {
      position: absolute;
      bottom: 0px;
      width: -moz-available; } } }
  .sidebar-pleasurebox {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    color: #b4fab9; }

.innerbody-content-title p {
  color: #b4fab9; }

.innerbody {
  line-height: 90%;
  font-size: 12px;
  padding: 3rem; }
  .innerbody-separator {
    border: 1px solid #b4fab9; }
    .innerbody-separator-mini {
      border: 1px solid #b4fab9;
      width: 15%; }
  .innerbody-content-head {
    line-height: 60%;
    font-size: 17px;
    font-variant: small-caps; }
    .innerbody-content-head-title {
      line-height: 100%;
      color: #b4fab9; }
    .innerbody-content-head-bluebold {
      color: #b4fab9;
      font-weight: bold; }
  .innerbody-content-title {
    font-size: 14px;
    font-weight: bold; }
  .innerbody-content-element {
    display: flex; }
    .innerbody-content-element-date {
      margin-top: 1em;
      width: 35%; }
    .innerbody-content-element-description {
      width: 65%;
      text-align: justify; }
      .innerbody-content-element-description-small {
        flex: 1; }
  .innerbody-content-recommandations-box {
    display: flex; }

/* CRT effect */
@keyframes textShadow {
  0% {
    text-shadow: 0.2389924193px 0 1px rgba(0, 30, 255, 0.5), -0.4389924193px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  5% {
    text-shadow: 1.3928974011px 0 1px rgba(0, 30, 255, 0.5), -2.7928974011px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  10% {
    text-shadow: 0.0195627584px 0 1px rgba(0, 30, 255, 0.5), -0.0295627584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  15% {
    text-shadow: 0.2021853855px 0 1px rgba(0, 30, 255, 0.5), -0.4021853855px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  20% {
    text-shadow: 1.77940379px 0 1px rgba(0, 30, 255, 0.5), -3.47940379px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  25% {
    text-shadow: 0.8125630401px 0 1px rgba(0, 30, 255, 0.5), -1.6125630401px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  30% {
    text-shadow: 0.3515590085px 0 1px rgba(0, 30, 255, 0.5), -0.7015590085px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  35% {
    text-shadow: 1.9969140477px 0 1px rgba(0, 30, 255, 0.5), -3.8969140477px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  40% {
    text-shadow: 1.8709056148px 0 1px rgba(0, 30, 255, 0.5), -3.8709056148px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  45% {
    text-shadow: 1.1310569634px 0 1px rgba(0, 30, 255, 0.5), -2.2310569634px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  50% {
    text-shadow: 0.0808429042px 0 1px rgba(0, 30, 255, 0.5), -0.0808429042px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  55% {
    text-shadow: 1.8758461067px 0 1px rgba(0, 30, 255, 0.5), -2.3758461067px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  60% {
    text-shadow: 1.1021930511px 0 1px rgba(0, 30, 255, 0.5), -2.2021930511px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  65% {
    text-shadow: 1.4638780615px 0 1px rgba(0, 30, 255, 0.5), -2.8638780615px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  70% {
    text-shadow: 0.2887402516px 0 1px rgba(0, 30, 255, 0.5), -0.4887402516px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  75% {
    text-shadow: 0.9948491306px 0 1px rgba(0, 30, 255, 0.5), -1.8948491306px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  80% {
    text-shadow: 0.0833037308px 0 1px rgba(0, 30, 255, 0.5), -0.0833037308px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  85% {
    text-shadow: 0.0976982726px 0 1px rgba(0, 30, 255, 0.5), -0.0976982726px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  90% {
    text-shadow: 1.7433397615px 0 1px rgba(0, 30, 255, 0.5), -3.4433397615px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  95% {
    text-shadow: 1.0841838853px 0 1px rgba(0, 30, 255, 0.5), -2.1841838853px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
  100% {
    text-shadow: 1.3208764474px 0 1px rgba(0, 30, 255, 0.5), -2.6208764474px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; } }
.crt::before {
  width: 100%;
  height: 165%;
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none; }

.crt {
  animation: textShadow 1.6s infinite; }

@media (min-width: 1024px) {
  .hover-expand-trigger:hover .hover-expand-collapse {
    max-height: 500px;
    transition: max-height 0.35s ease-in-out; }
  .hover-expand-collapse {
    max-height: 0;
    transition: max-height 0.35s ease-in-out;
    overflow: hidden; } }

/*# sourceMappingURL=style.css.map */
